#header 	{
			background-color: lightgray;
 			font-size: 20px;
			font-weight: bold;
			display: inline-block;
			width: 90%;
			height: 110px;
			text-align:center;

}
#header2 	{
			float: left;
			width: 20%;
			background-color: lightgray;
			border-spacing: 5px;
			display: inline-block; 
			position: absolute;
			top: 8px; left: 1px;
}
 